<footer>
    <p>Licenses:</p>
    <span><a href="https://github.com/mozilla/pdf.js">PDF.js</a> by Mozilla <a href="https://github.com/mozilla/pdf.js/blob/master/LICENSE">LICENSE</a></span>
    <br/>
    <span><a href="https://getbootstrap.com/">Bootstrap</a> by twbs <a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">LICENSE</a></span>
    <br/>
    <span><a href="https://github.com/highkite/pdfAnnotate">pdfAnnotate</a> by highkite <a href="https://github.com/highkite/pdfAnnotate/blob/master/LICENSE">LICENSE</a></span>
</footer>