h1 {
    text-align: center;
}

body {
    height: 100vh;
    margin: 0px 0px 0px 0px;
    background-image: url("/BackgroundImgs/LoginBG.png");
    background-position: center;
    background-size: cover;
    background-color: white;
}

button {
    background-color: #030804;
    color: white;
    padding: 14px 20px;
    border-radius: 50px;
    margin: 7px auto;
    width: 80%;
    font-size: 12px;
    text-align: center;
    border: 2px white;
}

input {
    margin: auto;
    border-radius: 5px;
    padding: 14px 20px;
    width: 80%;
    box-sizing: border-box;
    border: 2px white;
}

label {
    font-size: 18px;
    color: whitesmoke;
}

.inputLabel {
    display: inline-block;
    width: 370px;
    text-align: left;
}

.errorLabel {
    color: #FF1300;
    font-size: 15px;
}

form {
    width: 30rem;
    margin: auto;
    color: whitesmoke;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(60, 65, 65, 0.5);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    text-align: center;
}
